<form id="create-table-form">
    <input type="button" value="X" id="rm-btn">
    <input type="text" placeholder="Enter Name Of Table" name="TableName" id="TableName">
    <input type="date" name="Date">
    <input type="submit" value="Create" id="create-table-btn">
</form>