<form action="home" method="post" id="create-db-panel">
    <input type="button" value="X" id="rm-btn">
    <input type="text" placeholder="Enter Name Of Database" name="DatabaseName">
    <input type="date" name="Date">
    <input type="submit" value="Create" id="create-db-btn">
</form>