
<div id="tableDiv">
    <input type="button" value="X" id="exit">
    <input class="input" type="text" placeholder="Insert Name of Table" id="tableName">
    <input class="input" type="number" placeholder="Insert Number of Columns" min="1" id="num-of-headers">
    <input class="input" type="button" value="Next" id="next-btn">
</div>

<div id="tableHeaders">
    <input type="button" value="X" id="header-exit">
    <div id="primary-key">
        <label for="autoNumber">Automatically generate primary key</label>
        <div id="auto-gen-container">
            <div class="auto-gen"></div>
        </div>
    </div>
    <p>INSERT YOUR TABLE HEADERS</p>
</div>

