<div class="del-panel">

    <div class="del-inputs">
        <input type="button" value="X" id="del-exit" class="del-input">
        <input type="text" placeholder="Enter DB Name" id="del-db-search-input">
        <input type="button" value="Delete" class="del-input" id="del-database-btn">
    </div>

   <div class="del-list"></div>
   
</div>