<div id="headers-container" style="display: none;">
    <form action="" id="header-form">
        <input type="text" placeholder="Enter header name">
    </form>
   
    <div>
        <span class="fa-solid fa-plus"></span>
        <button id="create-header-btn">Create</button>
    </div>
</div>