<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>D.M.S</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>

    <div id="container">
        
        <!-- HEADER SECTION -->
        <section id="header">
            <header>
                <h1>D.M.S</h1>

            </header>
        <!-- HEADER NAVIGATION BAR -->
            <nav class="navigation-bar">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>History</li>
                </ul>
            </nav>
        </section>

        <!-- BODY SECTION -->
        <section id="body">
            <!-- SIDE PANEL -->
            <div class="side-panel">
                <ul>
                    <li id="showdb-panel-btn">Create Database</li>
                    <li id="del-db-btn">Delete Database</li>
                    <li>Edit Database</li>
                </ul>
            </div>
            <!-- MAIN PANEL -->
            <div class="main">

                <p id="msg">
                    <%=msg%>
                </p>

              <%- include("../partials/createDbPanel")%>
              <%- include("../partials/deleteDbPanel")%>

               <div class="database_container"></div>
        </section>

        <!-- FOOTER SECTION -->
        <section id="footer">

        </section>
    </div>

    <script type="module" src="home js/home.js"></script>
</body>
</html>