<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D.M.S</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>

    <div id="container">
        <!-- HEADER SECTION -->
        <section id="header">
            <header>
                <h1>D.M.S</h1>
            </header>
        <!-- HEADER NAVIGATION BAR -->
            <nav class="navigation-bar">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>History</li>
                </ul>
            </nav>
        </section>

        <!-- BODY SECTION -->
        <section id="body">
            <!-- SIDE PANEL -->
            <div class="side-panel">
                <ul>
                    <li>Create Database</li>
                    <li>Delete Database</li>
                    <li>Edit Database</li>
                </ul>
            </div>
            <!-- MAIN PANEL -->
            <div class="main"></div>
        </section>

        <!-- FOOTER SECTION -->
        <section id="footer">

        </section>
    </div>

    <script src="home.js"></script>
</body>
</html>