*{
    margin: 0;
    padding: 0;
    border: 0;
    color: #0078D7;
    font-size: 1.1rem;
    font-family: sans-serif;
    --myColor: #0078D7;
    --bkgColor: rgb(7, 7, 7);
    --hoverBkg: rgb(4, 189, 4);
    --hoverColor: black;
    --innerColor: white;
    --baseColor: rgb(22, 22, 22);
    --bodyColor: rgb(19, 19, 19);
}



/* ==========OVERALL CONTAINER========== */
#container{
    width: 100vw;
    height: 100vh;
    background: rgb(19, 19, 19);
    box-sizing: border-box;
    padding: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    border: 1px solid var(--myColor);
    border-radius: 1rem;
}



/* ==========HEADER SECTION========== */
#header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid;
    padding: 10px;
    margin: auto;
    padding-right: 5%;
    padding-left: 5%;
    box-sizing: border-box;
}


#header header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigation-bar{
    width: 15%;
}

.navigation-bar ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 100%;
}

.navigation-bar ul li{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.navigation-bar ul li:hover{
    border-color: var(--myColor);
    color: black;
}

.navigation-bar ul li a:hover{
    background-color: var(--myColor);
    color: black;
}





/* ==========BODY SECTION========== */
 #body{
    width: 100%;
    height: 93%;
    display: grid;
    grid-template-columns: 20% 80%;
    margin: auto;
    overflow: hidden;
} 

/* =====SIDE PANEL SECTION===== */
.side-panel{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
}

.side-panel ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
}

.side-panel ul li{
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    margin-top: 5px;
    box-sizing: border-box;
    width: 100%;
}

.side-panel ul li:hover{
    background-color: var(--myColor);
    color: black;
}

/* =====MAIN SECTION===== */
.main{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#msg{
    color: var(--myColor);
    background-color: var(--baseColor);
    padding: 10px;
    width: max-content;
    position: absolute;
    border: 2px groove var(--myColor);
    border-radius: 7px;
    display: none;
    margin-top: 3vh;
    z-index: 5;
    align-self: center;
    margin-left: 20%;
}






/* =====DATABASE STYLING===== */


/* =====DATABASE MAIN SECTION===== */
#create-db-panel{
    width: 40%;
    height: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--bodyColor);
    border-radius: 1rem;
    border: 5px groove var(--myColor);
    display: none;
    position: absolute;
    justify-self: center;
    margin-top: 12vh;
    z-index: 1;
}

#create-db-panel input{
    padding: 10px;
    background-color: var(--innerColor);
    border-radius: 5px;
    text-align: center;
    outline: none;
}

#create-db-panel #create-db-btn{
    width: 50%;
    transform: translate(50%);
    cursor: pointer;
    background-color: var(--myColor);
    color: white;
}

#create-db-panel #create-db-btn:hover{
    opacity: 0.7;
}

#create-db-panel #rm-btn{
    width: 70px;
    cursor: pointer;
    background-color: var(--myColor);
    color: white;
}

#create-db-panel #rm-btn:hover{
    opacity: 0.7;
}

.database_container{
    width: 100%;
    max-height: 98%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(184px, 1fr));
    /* overflow-y: scroll; */
}

.database_container .database{
    height: 15vh;
    margin: 10px;
    overflow: hidden;
    border: 1px solid var(--myColor);
    border-radius: 5px;
    cursor: pointer;
    display: grid;
    background-color: var(--baseColor);
}

.database_container .database:hover{
    opacity: 0.7;
}

.database span{
    justify-self: center;
    align-self: center;
    font-size: 4rem;
    -webkit-text-stroke: 1.5px var(--myColor);
    color: transparent;
}


.p-holder{
    width: 100%;
    background-color: var(--myColor);
    height: max-content;
    align-self: end;
}

.database_container .database p{
    width: max-content;
    height: 30px;
    color: var(--baseColor);
}


/* =====DELETE DATABASE PANEL/DIV STYLING===== */
#del-panel{
    width: 500px;
    height: 70vh;
    position: absolute;
    margin-top: 10vh;
    background-color: var(--baseColor);
    flex-direction: column;
    align-content: center;
    border-radius: 1rem;
    border: 5px groove var(--myColor);
    justify-self: center;
    z-index: 1;
    display: none;
}

.del-inputs{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.del-inputs .btn:hover{
    opacity: 0.7;
}

.del-inputs input{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: var(--innerColor);
    width: 100px;
} 

#del-database-btn{
    background-color: var(--myColor);
    color: white;
}

#del-exit{
    width: 50px;
    background-color: var(--myColor);
    color: white;
}

.del-inputs :nth-child(2){
    width: 50%;
    outline-color: var(--myColor);
}

.del-input:hover{
    cursor: pointer;
    background-color: var(--myColor);
    color: var(--hoverColor);
} 

.del-list{
    width: 80%;
    height: 80%;
    margin: auto;
    margin-bottom: 50px;
    overflow-y: scroll;
} 

.del-list::-webkit-scrollbar{
    background: transparent;
}

.del-list::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 255, 0.068);
    border-radius: 10px;
}

.del-db{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid var(--myColor);
} 

#selector-container{
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid darkblue;
    box-sizing: content-box;
} 

.selector{
    width: inherit;
    height: inherit;
    background-color: rgb(1, 1, 65);
    border-radius: 100%;
    border: 5px solid black;
    box-sizing: border-box;
}




/* =====TABLE STYLING===== */
.table_container{
    width: 100%;
    max-height: 98%;
    display: flex;
    flex-direction: column;
}

.table_holder{
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: rgb(30, 30, 34);
    border-bottom: 5px solid var(--baseColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table_holder:hover{
    background-color: var(--myColor);
    color: black;
}

.table-name{
    background-color: transparent;
    outline: none;
    width: max-content;

}

.tools{
    width: 110px;
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
}

.tools i{
    background-color: var(--baseColor);
    border: 2px solid var(--myColor);
    color: var(--myColor);
    padding: 10px;
    border-radius: 50%;
}

#table-sp-ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#create-table-form{
    width: 40%;
    height: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--bodyColor);
    border-radius: 1rem;
    border: 5px groove var(--myColor);
    display: none;
    position: absolute;
    margin-top: 12vh;
    align-self: center;
}

#create-table-form input{
    padding: 10px;
    background-color: var(--innerColor);
    border-radius: 5px;
    text-align: center;
    outline: none;
}

#create-table-form #create-table-btn{
    background-color: var(--myColor);
    width: 50%;
    transform: translate(50%);
    cursor: pointer;
    color: white;
}

#create-table-btn:hover{
  opacity: 0.7;
}

#create-table-form #rm-btn{
    width: 70px;
    cursor: pointer;
    background-color: var(--myColor);
    color: white;
}

#create-table-form #rm-btn:hover{
  opacity: 0.7;
}

#table{
    background-color: var(--myColor);
}

#table td{
    color: var(--myColor);
    background-color: var(--baseColor);
    padding: 10px;
}

#table tr:hover{
    cursor: pointer;
}


#table thead th{
    background-color: var(--myColor);
    color: black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 10px;
}

#table thead th:nth-child(1){
    border-left: none;
}
#table thead th:last-child{
    border-right: none;
}

tr #delete, tr #rename{
    padding: 0;
}

tr i{
    box-sizing: border-box;
    background-color: var(--baseColor);
}

.fa-trash:hover{
    color: darkred;
}

.fa-edit:hover{
    color: goldenrod;
}

.fa-save:hover{
    color: green;
}

#create-headers{
    padding: 13px;
    border-radius: 5px;
    background-color: var(--myColor);
    color: black;
    margin-top: 50vh;
    cursor: pointer;
    width: 200px;
    justify-self: center;
}

#headers-container{
   width: 500px;
   justify-content: space-between;
   padding: 10px;
   height: 65vh;
   overflow-y: scroll;
   justify-self: center;
}

#headers-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
}

#headers-container div button{
    background-color: var(--myColor);
    color: black;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#headers-container form{
    margin-top: 50px;
}

#headers-container form input{
    font-size: 1.2rem;
    padding: 10px;
    width: 350px;
    border-radius: 5px;
    outline-color: var(--myColor);
    margin-bottom: 7px;
}

.fa-plus{
    padding: 10px;
    background-color: var(--myColor);
    border-radius: 50%;
    color: black;
    margin: 20px;
    cursor: pointer;
}

#add-rec-form-holder{
    height: 80vh;
    position: fixed;
    overflow-y: scroll;
    top: 10vh;
    left: 60%;
    transform: translate(-50%);
}

#add-record-form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--baseColor);
    border: 2px groove var(--myColor);
    border-radius: 1rem;
    width: 350px;
    margin-top: 5vh;
}

#add-record-form h1{
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

#add-record-form input{
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    outline-color: var(--myColor);
}

#add-record-form button{
    padding: 10px;
    width: 50%;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--myColor);
    color: white;
}

#add-record-form button:hover, #add-record-form #exit-record-form-btn:hover{
   opacity: 0.7;
}

#add-record-form #exit-record-form-btn{
    width: max-content;
    padding-bottom: 10px;
    align-self: end;
    background-color: var(--myColor);
    color: white;
}

#main-table{
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    overflow-x: scroll;
}




/* .table-holder{
    width: 100%;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid green;
}

.table-holder:hover{
 background-color: var(--myColor);
}

.table-holder p{
    margin-left: 10px;
}

#tableDiv{
    flex-direction: column;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    border: 5px groove green;
    position: absolute;
    margin-top: 12vh;
    display: none;
}


#tableDiv .input{
    margin-bottom: 15px;
    width: 30vw;
    padding: 10px;
    background-color: var(--innerColor);
    border-radius: 5px;
    text-align: center;
}

#tableDiv #next-btn{
    width: 50%;
    margin: auto;
    cursor: pointer;
}

#tableDiv #next-btn:hover{
    background-color: var(--hoverBkg);
    color: var(--hoverColor);
}

#tableDiv #exit{
    margin: 10px;
    width: 50px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--innerColor);
    cursor: pointer;
}

#tableDiv #exit:hover{
    background-color: var(--hoverBkg);
    color: var(--hoverColor);
}

#tableForm{
    display: flex;
    flex-direction: column;
}

#tableForm input{
    margin: 10px;
}

#tableHeaders{
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    border: 5px groove green;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 370px;
    text-align: center;
    margin-top: 12vh;
    position: absolute;
}

#primary-key{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#primary-key label{
    color: var(--hoverBkg);
}

#checkbox{
    width: 30px;
    height: 30px;
    cursor: pointer
}

#header-exit{
    align-self: start;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--innerColor);
}

#header-exit:hover{
    background-color: var(--hoverBkg);
    color: var(--hoverColor);
}

#tableHeaders p{
  margin-top: 10px;
  color: var(--hoverColor);
  margin-bottom: 10px;
}

#tableHeaders .header{
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--innerColor);
    padding: 5px;
    text-align: center;
}

#send{
    padding: 10px;
    border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
    background-color: var(--innerColor);
}

#send:hover{
    background-color: var(--hoverBkg);
    color: var(--hoverColor);
}

#auto-gen-container{
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid green;
} 

.auto-gen{
    width: 20px;
    height: 20px;
    background-color: rgb(0, 39, 0);
    border-radius: 50%;
    border: 5px solid black;
} 

.table{
    padding: 10px;
    border-bottom: 1px solid green;
    cursor: pointer;
}

.table:hover{
    background-color: var(--myColor);
}

#table-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#table{
    table-layout: auto;
    background-color: green;
    margin-top: 5vh;
}

#table tr td{
    width: min-content;
    background-color: black;
    padding: 5px;
} */

#add-rec-form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
    background-color: var(--panelBkgColor);
    border-radius: 10px;
    border: 5px groove green;
}

.field{
    margin: 10px;
    padding: 5px;
    background-color: black;
    border-radius: 5px;
}

#add-rec-exit{
    justify-content: start;
    width: 50px;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    color: green;
    cursor: pointer;
}

#add-rec-exit:hover{
    background-color: var(--hoverBkg);
    color: var(--hoverColor);
}

#add-rec-btn{
    margin: auto;
    width: 50%;
    background-color: black;
    color: green;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}

#add-rec-btn:hover{
    background-color: var(--hoverBkg);
    color: var(--hoverColor);
}

#add-rec-form{
    display: none;
    position: absolute;
    margin-top: 12vh;
}

#space{
    display: none;
}


.glow{
    background-color: blue;
    border-color: #2e2eff;
}