*{
    margin: 0;
    padding: 0;
    border: 0;
    color: rgb(4, 189, 4);
    font-size: 1.1rem;
    --myColor: rgba(4, 189, 4, 0.185);
    --panelBkgColor: rgba(4, 189, 4, 0.452);
    --hoverBkg: rgb(4, 189, 4);
    --hoverColor: black;
    --innerColor: rgb(22, 22, 22);
}



/* ==========OVERALL CONTAINER========== */
#container{
    width: 100svw;
    height: 100svh;
    background: black;
    box-sizing: border-box;
    padding: 4px;
}

::-webkit-scrollbar{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    border: 1px solid green;
    border-radius: 1rem;
}



/* ==========HEADER SECTION========== */
#header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid;
    padding: 10px;
    margin: auto;
    padding-right: 5%;
    padding-left: 5%;
    box-sizing: border-box;
}


#header header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.navigation-bar ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.navigation-bar ul li{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

.navigation-bar ul li:hover{
    background-color: var(--myColor);
}

.navigation-bar{
    width: 50%;
}





/* ==========BODY SECTION========== */
 #body{
    width: 100%;
    height: 93%;
    display: grid;
    grid-template-columns: 20% 80%;
    margin: auto;
} 





/* ==========SIDE PANEL SECTION========== */
.side-panel{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
}

#dbName{
    margin-bottom: 20px;
}

.side-panel ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
}

.side-panel ul li{
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    margin-top: 5px;
    box-sizing: border-box;
    width: 100%;
}

.side-panel ul li:hover{
    background-color: rgba(4, 189, 4, 0.185);
}





/* ==========MAIN SECTION========== */
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
}


#create-db-panel{
    width: 40vw;
    height: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    border-radius: 1rem;
    border: 5px groove green;
    display: none;
    position: absolute;
    margin-top: 12vh;
    transform: translate(0,0);
}

#create-db-panel input{
    padding: 10px;
    background-color: var(--innerColor);
    border-radius: 5px;
    text-align: center;
    /* border-bottom: 1px solid green; */
    outline: none;
}

#create-db-btn{
    width: 50%;
    transform: translate(50%);
    cursor: pointer;
}

#create-db-btn:hover{
    background-color: var(--hoverBkg);
    color: var(--hoverColor);
}

#rm-btn{
    width: 70px;
    cursor: pointer;
}

#rm-btn:hover{
    background-color: rgba(128, 128, 128, 0.601);
    background-color: rgb(4, 189, 4);
    color: var(--hoverColor);
}

#msg{
    padding: 10px;
    border: 10px;
    border-radius: 5px;
    width: max-content;
    height: max-content;
    background-color: rgba(4, 189, 4, 0.185);
    margin-top: 10px;
    color: white;
    display: none;
    position: absolute;
}

.database_container{
    width: 95%;
    padding-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.database_container .database{
    width: 184px;
    height: 15vh;
    margin: 10px;
    align-content: end;
    overflow: hidden;
    border: 1px solid green;
    border-radius: 5px;
    cursor: pointer;
}

.p-holder{
    width: 100%;
    background-color: rgba(4, 189, 4, 0.317);
}

.database_container p{
    width: max-content;
    display: inline-block;
    height: 30px;
    color: var(--hoverColor);
}

.del-panel{
    width: 500px;
    height: 70vh;
    position: absolute;
    margin-top: 10vh;
    background-color: black;
    flex-direction: column;
    align-content: center;
    border-radius: 1rem;
    border: 5px groove green;
    display: none;
}

.del-inputs{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.del-inputs input{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: var(--innerColor);
    width: 100px;
} 

#del-exit{
    width: 50px;
}

.del-inputs :nth-child(2){
    width: 50%;
    outline-color: rgb(4, 189, 4);
}

.del-input:hover{
    cursor: pointer;
    background-color: rgb(4, 189, 4);
    color: var(--hoverColor);
} 

.del-list{
    width: 80%;
    height: 80%;
    margin: auto;
    margin-bottom: 50px;
    overflow-y: scroll;
} 

.del-list::-webkit-scrollbar{
    background: transparent;
}

.del-list::-webkit-scrollbar-thumb{
    background: rgb(3, 22, 3);
    border-radius: 10px;
}

.del-db{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid green;
} 

#selector-container{
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid green;
} 

.selector{
    width: 20px;
    height: 20px;
    background-color: rgb(0, 39, 0);
    border-radius: 50%;
    border: 5px solid black;
}

.table-holder{
    width: 100%;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid green;
}

.table-holder:hover{
 background-color: var(--myColor);
}

.table-holder p{
    margin-left: 10px;
}

#tableDiv{
    flex-direction: column;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    border: 5px groove green;
    position: absolute;
    margin-top: 12vh;
    display: none;
}


#tableDiv .input{
    margin-bottom: 15px;
    width: 30vw;
    padding: 10px;
    background-color: var(--innerColor);
    border-radius: 5px;
    text-align: center;
}

#tableDiv #next-btn{
    width: 50%;
    margin: auto;
    cursor: pointer;
}

#tableDiv #next-btn:hover{
    background-color: var(--hoverBkg);
    color: var(--hoverColor);
}

#tableDiv #exit{
    margin: 10px;
    width: 50px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--innerColor);
    cursor: pointer;
}

#tableDiv #exit:hover{
    background-color: var(--hoverBkg);
    color: var(--hoverColor);
}

#tableForm{
    /* display: none; */
    display: flex;
    flex-direction: column;
}

#tableForm input{
    margin: 10px;
}

#tableHeaders{
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    border: 5px groove green;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 370px;
    text-align: center;
    margin-top: 12vh;
    position: absolute;
}

#primary-key{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#primary-key label{
    color: var(--hoverBkg);
}

#checkbox{
    width: 30px;
    height: 30px;
    cursor: pointer
}

#header-exit{
    align-self: start;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--innerColor);
}

#header-exit:hover{
    background-color: var(--hoverBkg);
    color: var(--hoverColor);
}

#tableHeaders p{
  margin-top: 10px;
  color: var(--hoverColor);
  margin-bottom: 10px;
}

#tableHeaders .header{
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--innerColor);
    padding: 5px;
    text-align: center;
}

#send{
    padding: 10px;
    border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
    background-color: var(--innerColor);
}

#send:hover{
    background-color: var(--hoverBkg);
    color: var(--hoverColor);
}

#auto-gen-container{
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid green;
} 

.auto-gen{
    width: 20px;
    height: 20px;
    background-color: rgb(0, 39, 0);
    border-radius: 50%;
    border: 5px solid black;
} 

#table-name{
    display: none;
}

#databaseName{
    display: none;
}


.glow{
    background-color: rgb(3, 212, 3);
    border-color: lawngreen;
}


.table{
    padding: 10px;
    border-bottom: 1px solid green;
    cursor: pointer;
}

.table:hover{
    background-color: var(--myColor);
}

.table-container{
    width: 100%;
    height: 100%;
    margin-bottom: 70px;
}

#table-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#table{
    /* width: 80%; */
    table-layout: auto;
    background-color: green;
    margin-top: 5vh;
}

#table tr td{
    width: min-content;
    background-color: black;
    padding: 5px;
}

#add-rec-form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
    background-color: var(--panelBkgColor);
    border-radius: 10px;
    border: 5px groove green;
}

.field{
    margin: 10px;
    padding: 5px;
    background-color: black;
    border-radius: 5px;
}

#add-rec-exit{
    justify-content: start;
    width: 50px;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    color: green;
    cursor: pointer;
}

#add-rec-exit:hover{
    background-color: var(--hoverBkg);
    color: var(--hoverColor);
}

#add-rec-btn{
    margin: auto;
    width: 50%;
    background-color: black;
    color: green;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}

#add-rec-btn:hover{
    background-color: var(--hoverBkg);
    color: var(--hoverColor);
}

#add-rec-form{
    display: none;
    position: absolute;
    margin-top: 12vh;
}

#space{
    display: none;
}
